.pageheader {
	font-family: "Courier New", Courier, mono;
	color: #FFCC66;
}
.gold {
	font-family: "Courier New", Courier, mono;
	color: #FFCC66;
}
.goldlink {
	color: #FFCC66;
	text-decoration: underline;
}
